.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 2;
}
    
.homeTitle{
    margin-left: 12vw;
    text-shadow: 2px 2px 20px rgba(38,60,147,0.28);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topTitle{
    color : var(--gray4);
    font-size: 3em;
    line-height: 1.6em;
}

.buttonHome{
    width: 300px;
}

.textTitle{
    color: var(--white);
    font-size: 5em;
    font-weight: 600;
    background: linear-gradient(100deg, var(--gray1) 20%, var(--gray3) 100%);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    line-height: 1em;
}

.dotTitle{
    color: var(--blue1);
    line-height: 0px;
    font-size: 7em;
}

@media screen and (max-width: 880px){
    .home{
        flex-direction: column;
        justify-content: center;

    }
    .homeTitle{
        margin-left: 0px;
    }
    .topTitle{
        font-size: 3em;
    }
    .textTitle{
        font-size: 4em;
    }
    .dotTitle{
        font-size: 5em;
    }
}