.about{
    position: relative;
}

.aboutSection{
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.aboutLeft{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aboutPic{
    height: 100%;
    object-fit: cover;
    background: linear-gradient(150deg, var(--gray5), var(--gray6));
    padding-top: 0px;
    margin: 0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0 0 10px 0 rgba(0,0,0,1);
    display: flex;
    transition-duration: .2s;
}


.aboutPic:hover{
    transform: scale(1.1);
}

.aboutPicCont{
    position: relative;
    border-radius: 500px;
}

.myPic{
    width: 20vw;
    height: 25vw;
    object-fit: cover;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    filter: drop-shadow(-8px -4px 10px rgba(0,0,30,0.4));
}

.aboutPicCont::after {
    content: "";
    position: absolute;
    top: 40px;
    right: -40px;
    width: 20vw;
    height: 100%;
    border-width: 12px;
    border-style: solid;
    overflow: hidden;
    border-color: transparent;
    box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
    border-image: linear-gradient(30deg, var(--secondary), var(--tertiary)) 1;
    z-index: 0;
    box-sizing: border-box;
    opacity: .5;
  }

  .aboutRight{
    flex: 3;
    display: flex;
    height: 100%;
    flex-direction: column;
    color : var(--gray4);
    padding-left: 0px;
    justify-content: space-between;
    padding-right: 60px;
}

.aboutRight h2{
    font-weight: 600;
    margin-bottom: 40px;
    flex: 1;
}

.aboutRight p{
    flex: 1;
}

.aboutIcons{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
  }

  .arrowAbout{
    position: absolute;
    bottom: 15px;
    left: calc(50% - 40px);
    width: 80px;
    cursor: pointer;
    transition-duration: .2s;
  }


  .st0A{
    stroke: #eeeeeeaa;
    stroke-width: 12px;
    transition-duration: .3s;
  }

  .arrowAbout:hover{
    transform: scale(1.05);
  }

  .arrowAbout:hover .st0A{
    stroke: var(--blue1);
  }

  @media screen and (max-width: 880px){
    .aboutSection{
        flex-direction: column;
        margin-top: 20px;
    }
    .aboutLeft{
        flex: 1;
        margin-bottom: 20px;
    }
    .aboutPic{
        height: 40vw;
    }
    .myPic{
        width: 35vw;
        height: 40vw;
    }
    .aboutPicCont::after{
        width: 30vw;
    }
    .aboutRight{
        flex: 1;
        text-align: center;
        margin-top: 50px;
        padding: 0 20px;
    }
    .aboutRight h2{
        margin-bottom: 20px;
    }
    .aboutIcons{
        margin-top: 50px;
    }
    .arrowAbout{
        display: none;
    }
}