.moving-items-container {
    position: relative;
    flex:  1;
  }
  
  .moving-item {
    position: absolute;
    color: white;
    font-weight: 400;
    text-align: center;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    font-size: 1em;
    cursor: move;
  }
  
  .connecting-line {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .activeType{
    font-family: "MavenProBold";
    position: absolute;
    top: calc(50% - 100px);
    left: 20px;
    color: #1b3ab8aa;
    font-size: 7em;
    font-weight: bold;
    z-index: 999;
    height: 100px;
  }
