.app{
  background: linear-gradient(120deg, var(--primary) 0%, var(--secondary) 100%);
}

.circleOpacity{
  position: absolute;
  min-height: 100px;
  min-width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
}

.circleOpacity:nth-child(even){
  right:-20vh;
  height: 60vh;
  width: 60vh;

}

.circleOpacity:nth-child(odd){
  left:-15vh;
  height: 50vh;
  width: 50vh;
}